In [2]:
import pandas as pd, datetime as dt, http, json

In [3]:
df = pd.read_csv(r'datasets/EURUSD 1D.csv', parse_dates=[0], index_col=0).sort_index()
df = df[(df.Open != df.High) & (df.Open != df.Low) & (df.Open != df.Close)]
df

                        Open     High      Low    Close  Rejection
Date
2016-06-13 21:00:00  1.12898  1.12983  1.11887  1.12071        NaN
2016-06-14 21:00:00  1.12070  1.12987  1.11897  1.12588        NaN
2016-06-15 21:00:00  1.12595  1.12945  1.11306  1.12240        NaN
2016-06-16 21:00:00  1.12240  1.12960  1.12225  1.12764        NaN
2016-06-19 21:00:00  1.13315  1.13823  1.13019  1.13137        NaN
2016-06-20 21:00:00  1.13135  1.13493  1.12400  1.12419        NaN
2016-06-21 21:00:00  1.12420  1.13375  1.12363  1.12938        NaN
2016-06-22 21:00:00  1.12950  1.14213  1.12949  1.13848        NaN
2016-06-23 21:00:00  1.13850  1.14283  1.09116  1.10993        NaN
2016-06-26 21:00:00  1.10101  1.10833  1.09706  1.10223        NaN
2016-06-27 21:00:00  1.10230  1.11119  1.10103  1.10639        NaN
2016-06-28 21:00:00  1.10637  1.11306  1.10495  1.11232        NaN
2016-06-29 21:00:00  1.11230  1.11547  1.10242  1.11067        NaN
2016-06-30 21:00:00  1.11062  1.11695  1.10721  1.11402        NaN
2016-07-03 21:00:00  1.11247  1.11594  1.10976  1.11521        NaN
2016-07-04 21:00:00  1.11534  1.11863  1.10623  1.10755        NaN
2016-07-05 21:00:00  1.10758  1.11118  1.10291  1.11008        NaN
2016-07-06 21:00:00  1.11004  1.11068  1.10524  1.10610        NaN
2016-07-07 21:00:00  1.10627  1.11205  1.10020  1.10540        NaN
2016-07-10 21:00:00  1.10501  1.10747  1.10157  1.10578        NaN
2016-07-11 21:00:00  1.10577  1.11265  1.10523  1.10605        NaN
2016-07-12 21:00:00  1.10601  1.11196  1.10417  1.10890        NaN
2016-07-13 21:00:00  1.10895  1.11650  1.10877  1.11188        NaN
2016-07-14 21:00:00  1.11187  1.11487  1.10245  1.10368        NaN
2016-07-17 21:00:00  1.10493  1.10842  1.10374  1.10751        NaN
2016-07-18 21:00:00  1.10751  1.10802  1.09996  1.10205        NaN
2016-07-19 21:00:00  1.10214  1.10302  1.09814  1.10135        NaN
2016-07-20 21:00:00  1.10133  1.10598  1.09794  1.10263        NaN
2016-07-21 21:00:00  1.10258  1.10407  1.09551  1.09715        NaN
2016-07-24 21:00:00  1.09708  1.09984  1.09517  1.09946        NaN
...                      ...      ...      ...      ...        ...
2018-07-21 21:00:00  1.17250  1.17456  1.17225  1.17404        NaN
2018-07-22 21:00:00  1.17248  1.17509  1.16836  1.16913        NaN
2018-07-23 21:00:00  1.16911  1.17171  1.16548  1.16818        NaN
2018-07-24 21:00:00  1.16822  1.17387  1.16640  1.17284        NaN
2018-07-25 21:00:00  1.17274  1.17436  1.16400  1.16427        NaN
2018-07-26 21:00:00  1.16424  1.16643  1.16202  1.16566        NaN
2018-07-28 21:00:00  1.16561  1.16606  1.16521  1.16587        NaN
2018-07-29 21:00:00  1.16565  1.17189  1.16481  1.17055        NaN
2018-07-30 21:00:00  1.17035  1.17462  1.16832  1.16902        NaN
2018-07-31 21:00:00  1.16899  1.16995  1.16570  1.16601        NaN
2018-08-01 21:00:00  1.16587  1.16676  1.15818  1.15848        NaN
2018-08-02 21:00:00  1.15841  1.16108  1.15603  1.15662        NaN
2018-08-04 21:00:00  1.15666  1.15706  1.15598  1.15619        NaN
2018-08-05 21:00:00  1.15663  1.15702  1.15297  1.15524        NaN
2018-08-06 21:00:00  1.15531  1.16081  1.15488  1.15983        NaN
2018-08-07 21:00:00  1.15980  1.16285  1.15734  1.16097        NaN
2018-08-08 21:00:00  1.16095  1.16191  1.15255  1.15268        NaN
2018-08-09 21:00:00  1.15255  1.15362  1.13879  1.14082        NaN
2018-08-11 21:00:00  1.13720  1.14117  1.13718  1.13947        NaN
2018-08-12 21:00:00  1.13708  1.14327  1.13648  1.14090        NaN
2018-08-13 21:00:00  1.14094  1.14291  1.13299  1.13429        NaN
2018-08-14 21:00:00  1.13430  1.13553  1.13013  1.13416        NaN
2018-08-15 21:00:00  1.13444  1.14092  1.13359  1.13763        NaN
2018-08-16 21:00:00  1.13759  1.14450  1.13665  1.14416        NaN
2018-08-18 21:00:00  1.14369  1.14402  1.14352  1.14380        NaN
2018-08-19 21:00:00  1.14369  1.14847  1.13941  1.14829        NaN
2018-08-20 21:00:00  1.14800  1.16010  1.14784  1.15710        NaN
2018-08-21 21:00:00  1.15703  1.16231  1.15531  1.15859        NaN
2018-08-22 21:00:00  1.15858  1.15909  1.15298  1.15419        NaN
2018-08-23 21:00:00  1.15422  1.16402  1.15379  1.16216        NaN

[585 rows x 5 columns]

### Get deltas candles from after the 2nd-to-last candle (since last hasn't closed yet)
### Save to csv with Rejection price

In [8]:
dt.datetime.today().date()

datetime.date(2018, 9, 2)

In [9]:
 df.index[-2].date()

datetime.date(2018, 8, 22)

In [11]:
dt.datetime.today().date() -  df.index[-1].date()

datetime.timedelta(10)

In [24]:
from dateutil.relativedelta import relativedelta
relativedelta(dt.datetime.today(), df.index[-1])

relativedelta(days=+9, hours=+23, minutes=+1, seconds=+10, microseconds=+924122)

In [13]:
def get_oanda_candles(method, url, body=None):
    conn = http.client.HTTPSConnection("api-fxpractice.oanda.com")
    headers = {"Authorization": "Bearer ***REMOVED***"}
    conn.request(method, url, body, headers)
    resp = conn.getresponse()
    if resp.status in (201, 200):
        return json.loads(resp.read())
    else:
        raise http.client.HTTPException("Error in HTTP request (status: " + str(resp.status) + "):\n" + str(resp.read()))
        
test = get_oanda_candles("GET", "https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles?count=6&granularity=D")
test

{'candles': [{'complete': True,
   'mid': {'c': '1.16783', 'h': '1.16940', 'l': '1.15947', 'o': '1.16154'},
   'time': '2018-08-26T21:00:00.000000000Z',
   'volume': 41573},
  {'complete': True,
   'mid': {'c': '1.16948', 'h': '1.17337', 'l': '1.16623', 'o': '1.16790'},
   'time': '2018-08-27T21:00:00.000000000Z',
   'volume': 46904},
  {'complete': True,
   'mid': {'c': '1.17074', 'h': '1.17098', 'l': '1.16521', 'o': '1.16960'},
   'time': '2018-08-28T21:00:00.000000000Z',
   'volume': 52113},
  {'complete': True,
   'mid': {'c': '1.16682', 'h': '1.17185', 'l': '1.16416', 'o': '1.17060'},
   'time': '2018-08-29T21:00:00.000000000Z',
   'volume': 51517},
  {'complete': True,
   'mid': {'c': '1.16019', 'h': '1.16912', 'l': '1.15844', 'o': '1.16666'},
   'time': '2018-08-30T21:00:00.000000000Z',
   'volume': 64060},
  {'complete': False,
   'mid': {'c': '1.15982', 'h': '1.16051', 'l': '1.15894', 'o': '1.15982'},
   'time': '2018-09-02T21:00:00.000000000Z',
   'volume': 5602}],
 'granularity': 'D',
 'instrument': 'EUR_USD'}

In [ ]:
if period == 'D':
    delta_candles = (dt.datetime.today().date() -  df.index[-1].date()).days
elif period == 'H':
    if freq == '4':
        # If using deltas, use this when calculating period for 4H
        delta = timedelta(hours=4)
        gen = (x * delta for x in range(20))
        delta_candles = '?'